<!DOCTYPE html>
<html data-ng-app="movieStubApp">

<head>
    <title>Example 4</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.23/angular-route.min.js"></script>

    <script type="text/javascript">
    movieStubApp = angular.module('movieStubApp', ['ngRoute']);

    movieStubApp.config(function ($routeProvider) {
    $routeProvider
        .when('/home', {
            templateUrl: 'home-view.html',
            controller: 'movieStubController'
        }).when('/page2', {
            templateUrl: 'page2.html',
            controller: 'page2Controller'
        }).otherwise({
            redirectTo: '/home'
        });
});

    movieStubApp.controller("movieStubController", function($scope) {
        $scope.movies = [{
            "id": 0,
            "name": "Iron Man",
            "rating": 5,
            "availability": 9,
            "review": "Tony Stark is a billionaire industrialist and genius inventor who is kidnapped and forced to build a devastating weapon. Instead, using his intelligence and ingenuity, Tony builds a high-tech suit of armor and escapes captivity. When he uncovers a nefarious plot with global implications, he dons his powerful armor and vows to protect the world as Iron Man. (Paramount Pictures, Marvel Studios)",
            "thumb": "http://upload.wikimedia.org/wikipedia/en/e/e0/Iron_Man_bleeding_edge.jpg"
        }, {
            "id": 1,
            "name": "Jurassic Park",
            "rating": 5,
            "availability": 3,
            "review": "Featuring incredible special effects and action - packed drama, Jurassic Park takes you to a remote island where an amazing theme park with living dinosaurs is about to turn deadly, as five people must battle to survive among the prehistoric predators.(Universal Pictures)",
            "thumb": "http://upload.wikimedia.org/wikipedia/en/e/e7/Jurassic_Park_poster.jpg"
        }, {
            "id": 2,
            "name": "Transformers",
            "rating": 5,
            "availability": 5,
            "review": "Transformers: Dark of the Moon features Sam Witwicky taking his first tenuous steps into adulthood while remaining a reluctant human ally of Optimus Prime. The film centers around the space race between the U.S.S.R. and the USA, suggesting there was a hidden Transformers role in it all that remains one of the planet's most dangerous secrets. The villain of the third film will be Shockwave. (DreamWorks Pictures)",
            "thumb": "http://upload.wikimedia.org/wikipedia/en/6/66/Transformers07.jpg"
        }];
    });

    movieStubApp.controller("page2Controller", function($scope){

    });
    </script>
}
</head>

<body>
    <div class="container">
    <a href="#/home">Home</a>  ||  <a href="#/page2">Page2</a>

        <ng-view></ng-view>
    </div>

    <script type="text/ng-template" id="home-view.html">
        <div class="row" ng-controller="movieStubController">
            <div class="col-md-10">
            <br/><br/>
                <div>
                    <input class="form-control" type="text" placeholder="Search a movie" data-ng-model="search">
                </div>
                <br/>
                <ul>
                    <li data-ng-repeat="movie in movies | orderBy:'name':true | filter:search">
                        {{movie.name | uppercase}} - {{movie.rating}}
                    </li>
                </ul>
            </div>
        </div>
    </script>

</body>

</html>
